.button {
  border: none;
  padding: 10px 15px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: cadetblue;
  margin-left: 10px;
}
.button:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: rgb(63, 135, 138);
}
.item {
  margin-bottom: 10px;
}
.list {
  list-style-type: none;
}
